*{
	border:0;
	padding: 0;
	margin: 0;
}
.main{
	width:100%;
}
.main img{
	display: block;
	margin: 20px auto;
}
.errorInfo{
	display: block;
	text-align: center;
	font-family: "微软雅黑";
	font-size: 20px;
	margin: 20px auto;
	font-weight: bold;
}
