*{
	padding:0;
	margin:0;
	border:0;
}
.fl{
	float:left;
}
.fr{
	float:right;
}
.clear{
	clear: both;
}
.none{
	display: none;
}
body{
	width:100%;
	height:100%;
	overflow-y: hidden;
	min-width: 1260px;
}
a{
	text-decoration: none;
}
.main_width{
	width:1260px;
	margin:0 auto;
}
.nav_title{
	width:100%;
	height:30px;
	color:#9a9a9a;
	background-color: #f2f2f2;
}
.nav_title_in{
	height:30px;
	font-size: 12px;
}
.nav_title_in .user_tip{
	display: inline-block;
	height:30px;
	line-height: 30px;
	padding-left:20px;
	padding-right: 10px;
}
.nav_title_in .exit_login{
	display: inline-block;
	height:30px;
	line-height: 30px;
	padding-left:10px;
	padding-right: 30px;
}
.nav_title_in .exit_login:hover{
	color:red;
}
.nav{
	width:100%;
	height:94px;
	border-bottom: 1px solid #DDDDDD;
	box-shadow: 1px 0px 10px rgba(0, 0, 0, .05);
}
.nav .logo{
	float:left;
	display: inline-block;
	width:310px;
	height:94px;
	background: url(../images/xuanyang.png) no-repeat 0 -5px;
}
.nav_list{
	float:left;
	display: inline-block;
	width:800px;
	height:94px;
	margin-left: 80px;
	list-style: none;
}
.nav_list li.nav_li{
	display: inline-block;
	padding-top: 25px;
    margin-right: 5px;
}
.nav_list li .nav_item{
	color:#333;
	display: block;
    height: 40px;
    font-size: 18px;
    line-height: 40px;
    cursor: pointer;
    position: relative;
}
.nav_list li .nav_item .nav_item_a{
	color: #336CA6;
	line-height: 40px;
	text-align: center;
	display: block;
	width:96px;
	height:40px;
	border-radius: 4px;
}
.nav_list li .nav_item.active .nav_item_a{
	background-color: #336CA6;
	color: #ffffff;
}
.nav_list li .nav_item:hover .nav_item_a{
	background-color: #f9f9f9;
	color: #336CA6;
}
.nav_list li .nav_item:hover .sub_nav{
	display: inline-block;
}
.nav_list li .nav_item .sub_nav{
	z-index: 5;
	list-style: none;
	position: absolute;
	display: none;
	top:36px;
	left:0;
	width:150px;
	background-color: #f9f9f9;
	font-size: 15px;
	padding: 10px 0;
	box-shadow: 0 0 0 #ffffff, 0 2px 4px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.12), 0 2px 4px rgba(0,0,0,.12);
    border: 1px solid #d2d2d2;
    border-top:0;
}
.nav_list li .nav_item .sub_nav li{
	height:30px;
	width: 150px;
	line-height: 30px;
}
.nav_list li .nav_item .sub_nav li a{
	height:30px;
	width: 150px;
	line-height: 30px;
	float:left;
	color:#8D8D8D;
	text-decoration: none;
	text-indent: 28px;
	box-sizing: border-box;
	border-bottom: 1px dotted #DFDFDF;
}
.nav_list li .nav_item .sub_nav li:last-child a{
	border-bottom:none;
}
.nav_list li .nav_item .sub_nav li:hover a{
	background-color: #2a5b8c;
	color:#ffffff;
}
.content{
	box-sizing: border-box;
	position: absolute;
	height:calc(100% - 125px);
	width:100%;
	top:125px;
}
.content iframe{
	height:100%;
	width:100%;
	overflow-y: hidden;
}
