.customerlist.inservice{
	margin: 5px 0 0 0px;
	width: 1268px;
}
.customerlist.inservice th{
	color:#000000;
	text-align: center;
}
.customerlist.inservice td div{
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist.inservice .customer_name{
	width:100px;
}
.customerlist.inservice .customer_yy{
	width:65px;
}
.customerlist.inservice .customer_yyass{
	width:65px;
}
.customerlist.inservice .customer_shop_name{
	width:100px;
}
.customerlist.inservice .customer_shop_type{
	width:120px;
}
.customerlist.inservice .customer_address{
	width:50px;
}
.customerlist.inservice .chance_name{
	width:90px;
}
.customerlist.inservice .industry{
	width:110px;
}
.customerlist.inservice .chance_cate{
	width:75px;
}
.customerlist.inservice .phone{
	width:95px;
}
.customerlist.inservice .qq{
	width:95px;
}
.customerlist.inservice .protect_time{
	width:80px;
}
.customerlist.inservice .last_contact_time{
	width:80px;
}
.customerlist.inservice .customer_opr{
	width:72px;
}




.renew_div{
	width:500px;
	min-height: 270px;
}
.renew_row{
	width:500px;
	font-size: 15px;
	color: #8D8D8D;
	margin-top: 10px;
}
.renew_row .renew_label{
	width:120px;
	display: inline-block;
	height:40px;
	text-align: right;
	padding-right: 10px;
	line-height: 40px;
	float:left;
	
}
.renew_content{
	width:360px;
	line-height: 40px;
	display: inline-block;
	float:left;
}
.renewTime{
	width:150px;
	border:1px solid #8D8D8D;
	height: 40px;
	line-height: 40px;
	font-size: 15px;
	padding:0  10px 0;
}
.renew_remark{
	width:300px;
	height:80px;
	max-width: 300px;
	min-width: 300px;
	max-height: 80px;
	min-height: 80px;
	border:1px solid #8D8D8D;
}
.clear{
	clear: both;
}
.renew_btnrow{
	width:220px;
	height:40px;
	margin: 15px auto;
}
.renew_btnrow .btn{
	width:100px;
	height:40px;
	background-color: #336CA6;
	line-height: 40px;
	color: #ffffff;
	text-align: center;
	cursor: pointer;
	float:left;
}
.renew_btnrow .btn:hover{
	background-color: #2a5786;
}
.renew_btnrow .btn.cancel{
	background-color: #D0D0D0;
	margin-left: 20px;
}
.renew_btnrow .btn.cancel:hover{
	background-color: #8D8D8D;
}