*{
	padding:0;
	margin:0;
	border:0;
	font-family: "微软雅黑";
}
.red{
	color: red;
}
.clear{
	clear: both;
}
.must{
	color: red;
	padding-right: 5px;
	position: relative;
	top:4px;
}
.none{
	display: none;
}
.cursor{
	cursor: pointer;
}
.main_width{
	width:1260px;
	margin: 20px 50px;
}
/****/
.searchcondition{
	margin: 20px 20px 0;
}
.main{
	margin: 20px 50px;
}
.form_title{
	margin: 20px 20px;
	border-top:1px solid #E2E2E2;
}
.form_title legend{
	margin-left: 100px;
	padding: 0 5px;
	color:#8D8D8D;
}
.form_group{
	float: left;
	margin:10px 10px;
}
.form_group .label{
	display: inline-block;
	width:110px;
	height:40px;
	line-height: 40px;
	text-align: right;
	color:#8D8D8D;
}
.form_group .label_content{
	width:250px;
	height:40px;
	line-height: 40px;
	display: inline-block;
	margin-left: 20px;
}
.form_group .label_content input[type='text'],.form_group .label_content input[type='password']{
	width:250px;
	height:40px;
	line-height: 40px;
	outline: none;
	text-indent: 10px;
	font-size: 15px;
	color:#8D8D8D;
	border: 1px solid #E2E2E2;
}
.form_group .label_content input[type='radio']{
	position: relative;
	top:2px;
	margin-right: 5px;
	cursor: pointer;
}
.form_group .label_content select{
	width:110px;
	height:40px;
	line-height: 40px;
	outline: none;
	text-indent: 10px;
	font-size: 15px;
	border: 1px solid #E2E2E2;
	color:#8D8D8D;
}
.form_group .label_content select:first-child{
	margin-right: 25px;
}
.form_group .label_content label{
	margin-right: 10px;
	color:#8D8D8D;
}
.form_group textarea.ach_remark{
	width:400px;
	height:120px;
	line-height: 40px;
	padding: 5px;
	color: #8D8D8D;
	font-size: 15px;
	outline: none;
	margin-left: 60px;
	max-width: 400px;
	max-height: 120px;
	border: 1px solid #DDDDDD;
	color:#8D8D8D;
}
.form_group .btn_def{
	position: relative;
	cursor: pointer;
	padding-left: 35px;
	padding-right: 20px;
	display: inline-block;
	height:40px;
	line-height: 40px;
	background-color: #D0D0D0;
	color:#ffffff;
}
.form_group .btn_def:hover{
	background-color: #8D8D8D;
}
.form_group .search_btn{
	background-color: #336CA6;
}
.form_group .search_btn:before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 16px;
	height:16px;
	left:12px;
	top:12px;
	background-image: url(../images/search.png);
	background-repeat: no-repeat;
	background-position:  0px 0px;
}
.form_group .search_btn:hover{
	background-color: #2a5786;
}
.form_group .addcustomer_btn{
	background-color: #1E9FFF;
}
.form_group .addcustomer_btn:before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 16px;
	height:16px;
	left:12px;
	top:12px;
	background-image: url(../images/add.png);
	background-repeat: no-repeat;
	background-position:  0px 0px;
}
.form_group .addcustomer_btn:hover{
	background-color: #057bd2;
}
.btn_group{
	width:220px;
	margin: 20px auto;
}
.btn_group1{
	margin: 20px 20px 0 0;
}
.btn_group a{
	padding-left: 30px;
	padding-right: 30px;
	display: inline-block;
	height:40px;
	line-height: 40px;
	background-color: #336CA6;
	color:#ffffff;
	text-decoration: none;
	position: relative;
}
.btn_group a:hover{
	background-color: #2a5786;
}

.savebtn{
	margin-left:20px;
}
.btn_group a.cancelbtn{
	margin-left:10px;
	background-color: #D3D4D3;
}
.btn_group a.cancelbtn:hover{
	background-color: #8D8D8D;
}

.btn_group a.adduser{
	padding-left: 30px;
	padding-right: 20px;
}
.btn_group a.adduser:before{
	content: "";
	display: inline-block;
	position: absolute;
	width: 16px;
	height:16px;
	left:12px;
	top:12px;
	background-image: url(../images/add.png);
	background-repeat: no-repeat;
	background-position:  0px 0px;
}
/**客户列表***/
table.customerlist{
	table-layout:fixed;
	margin: 30px 0 0 0px;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	font-size: 14px;
	/*width:1260px;*/
}
table.customerlist td,table.customerlist th{
	border: 1px solid #E2E2E2;
	height:40px;
	line-height: 40px;
	border-collapse: collapse;
}
table.customerlist th{
	background-color: #F2F2F2;
}
table.customerlist tr:hover{
    background-color: #f8f8f8;
}
.customerlist .collection{
	width:30px;
	height:40px;	
	overflow: hidden;
}
.customerlist td.collection{
	text-indent: -30px;
	cursor: pointer;
	background: url(../images/coll.png) no-repeat 5px 10px;
}
.customerlist td.collection.collected{
	background: url(../images/coll-fill.png) no-repeat 5px 10px;
}
.customerlist td .customer_name{
	width:90px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.customer_name{
	width:90px;
	text-align: center;
}
.customerlist td .customer_owner{
	width:80px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.customer_owner{
	width:80px;
	text-align: center;
}
.private.customerlist .customer_owner{
	width:60px;
}
.customerlist td .customer_shop_name{
	width:110px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.customer_shop_name{
	width:110px;
	text-align: center;
}
.customerlist.private .customer_shop_name{
	width:90px;
}
.customerlist td .customer_shop_type{
	width:120px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.customer_shop_type{
	width:120px;
	text-align: center;
}
.customerlist td .customer_address{
	width:50px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.customer_address{
	width:50px;
	text-align: center;
}
.customerlist td a.customer_shop{
	display: block;
	width:55px;
	height:40px;
}
.customerlist th.customer_shop{
	width:50px;
	text-align: center;
}
.customerlist td a.customer_shop img{
	float: left;
	width:16px;
	height:16px;
	margin-top: 11px;
	margin-left: 2px;
}
.customerlist td a.customer_shop:after{
	float: left;
	width:28px;
	height:40px;
	line-height: 40px;
	content: '查看';
	color: blue;
	display: inline-block;
	text-decoration: none;
}
.customerlist td .industry{
	width:95px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.industry{
	width:95px;
	text-align: center;
}
.customerlist td .chance_name{
	width:95px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.chance_name{
	width:95px;
	text-align: center;
}
.customerlist td .chance_cate{
	width:75px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.chance_cate{
	width:75px;
	text-align: center;
}
.customerlist td .phone{
	width:95px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.phone{
	width:95px;
	text-align: center;
}
.customerlist td .qq{
	width:100px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.qq{
	width:100px;
	text-align: center;
}
.customerlist td .protect_time{
	width:90px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.protect_time{
	width:90px;
	text-align: center;
}
.customerlist td .last_contact_time{
	width:90px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	text-align: center;
	color:#8D8D8D;
}
.customerlist th.last_contact_time{
	width:90px;
	text-align: center;
}
.customerlist td .customer_opr{
	width:104px;
}
.customerlist td .customer_opr a{
	display: inline-block;
	color:blue;
	text-decoration: none;
}
.customerlist td .customer_opr a.edit_customer{
	padding: 0 5px 0px 5px;
}
.customerlist td .customer_opr a.log_op{
	padding: 0 5px 0px 0px;
}
.customerlist td .customer_opr a.kick_out{
	padding: 0 5px 0px 0px;
}
.pg_bar{
	width: 100%;
	height:40px;
	margin:20px 10px;
}
.pg_bar .pg_label{
	display: inline-block;
	height:40px;
	line-height: 40px;
	padding: 0 10px;
	float: left;
	color:#8D8D8D;
}
.pg_bar .pg_size{
	width: 40px;
	height:40px;
	line-height: 40px;
	font-size: 16px;
	float: left;
	color:#8D8D8D;
}
.pg_nums{
	height:40px;
	float:left;
	margin-left:200px;
}
.pg_nums .pg_pre{
	float:left;
	display: inline-block;
	cursor: pointer;
	float:left;
	padding: 0 10px;
	margin: 0 5px 0 0;
	height:40px;
	line-height: 40px;
	box-sizing: border-box;
	border: 1px solid #DCDCDC;
	background-color: #336CA6;
	color: #ffffff;
}
.pg_nums .pg_num{
	cursor: pointer;
	float:left;
	display: inline-block;
	float:left;
	padding: 0 10px;
	margin: 0 5px;
	height:40px;
	color:#8D8D8D;
	line-height: 40px;
	box-sizing: border-box;
	border: 1px solid #DCDCDC;
}
.pg_nums .pg_num.cur_page{
	background-color: #336CA6;
	color: #ffffff;
	border: 1px solid #336CA6;
}
.pg_nums .pg_num:hover{
	background-color: #336CA6;
	color: #ffffff;
	border: 1px solid #336CA6;
}
.pg_nums .pg_next{
	float:left;
	cursor: pointer;
	display: inline-block;
	float:left;
	margin: 0 5px 0 0;
	padding: 0 17px;
	height:40px;
	line-height: 40px;
	box-sizing: border-box;
	border: 1px solid #DCDCDC;
	background-color: #336CA6;
	color: #ffffff;
}
.pg_nums .pg_next.disable,.pg_nums .pg_pre.disable{
	background-color: #DDDDDD;
	color: #ffffff;
}
/**用户列表***/
table.user_list{
	width:1260px;
	margin: 10px auto;
	border: 1px solid #dddddd;
	border-collapse: collapse;
	font-size: 14px;
}
table.user_list td,table.user_list th{
	border: 1px solid #E2E2E2;
	height:40px;
	line-height: 40px;
	border-collapse: collapse;
}
table.user_list th{
	background-color: #F2F2F2;
}
table.user_list tr:hover{
    background-color: #f8f8f8;
}
table.user_list .username{
	text-align: center;
	width:200px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.user_list .userrealname{
	text-align: center;
	width:150px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.user_list .email{
	text-align: center;
	width:230px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.user_list .createtime{
	text-align: center;
	width:190px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.user_list .isadmin{
	text-align: center;
	width:90px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.user_list .isgroupleader{
	text-align: center;
	width:90px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.user_list .usermobile{
	text-align: center;
	width:180px;
	white-space:nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
table.user_list .opr_box{
	width: 120px;
	max-width: 200px;
}
.opr_box_w{
	width: 120px;
	height:40px;
	line-height: 40px;
	margin: 0 auto;
}
.opr_box_w .opr_btn{
	display: inline-block;
	width:60px;
	height:40px;
	float: left;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	color: #155FAA;
}
.opr_box_w .opr_btn:hover{
	color: red;
}